html {
  box-sizing: border-box;
  font-size: 10px;
  background-image: url('https://i.imgur.com/0AJgZBT.jpg');
  
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

h1 {
  text-align: center;
  color: pink;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

h2{
  text-align: right;
  margin-right: 190px;
  color: pink;
  font-size: 5rem;
  line-height: 1;
}

.board{
  margin-bottom: -70px;
  text-align: right;
}

.score {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}
.time {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url('dirt.svg') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

/*.hole.up .mole {
  top: 0;
} */

/*.button button{
  background: pink bottom center;
  width: 150px;
  height: 70px;
  font-size: 30px;
  border-radius:10px 20px; 
  text-align: center;
  margin-top: 60px;
  display: flex;
  justify-content: center;
} */

.button {
  text-align: center;
 
  margin-left: -90px;
}

button {
  position: absolute;
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  text-shadow: 4px 4px 3px rgba(255, 255, 255, 0.1);
  font-weight: bold;
  background: pink;
  width: 150px;
  height: 70px;
  font-size: 30px;
  border-radius: 15px; 
  box-shadow:5px 5px hotpink;
  margin-top: 170px;
}

.poop {
  background: url('poop.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 88%;
  transition:all 0.4s;
}

.hole.up1 .poop{
  top: 0;
}

.hole.up .mole{
  top: 0;
}

